
/* =========Smaller than 660px===========  */
@media screen and (max-width: 660px) {
    .wrapper {
        width: 390px;
    }
    .score {
      width: 360px;
      min-height: 150px;
      font-size: 10pt;
    }
    .rule {
        min-height: 70px;
    }
    .score h4 {
        margin-top: 5px;
    }
    .line {
        margin-bottom: 10px;
    }
  }

  @media screen and (aspect-ratio: 844 / 390 ) {
    .gameField {
        width: 315px;
        height: 350px;}
    .squere {
        width: 85px;
        height: 85px;
        }
    .score {
        min-height: 350px;
    }
    /* .score h4 {
        color: white;
    } */
  }

  /* @media (orientation: landscape) and (aspect-ratio: 2340 / 1080 )  */
  @media screen and (aspect-ratio: 19.5 / 9 ) {
    .gameField {
        width: 315px;
        height: 350px;}
    .squere {
        width: 85px;
        height: 85px;
        }
    .score {
        min-height: 350px;
    }
    /* .score h4 {
        color: white;
    } */
  }

/* =========Smaller than 390px===========  */
@media screen and (max-width: 390px) {
    .wrapper {
        width: 390px;
        border: none;
    }
    .score h4 {
        color: green;
    }
}